.cardContainer {
    width: 100%;
    box-shadow: 0 0 8px var(--gray-5);
    position: relative;
    border-radius: 8px;
    min-height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.cardContainer .imgContainer {
    width: 100%;
    height: 10rem;
    overflow: hidden;
    max-height: 150px;
}

.cardContainer .imgContainer img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
}


.price {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;

}

.hidePrice {
    display: none;
}

.priceDeleted {
    text-decoration: line-through;
    color: var(--gray-4);
}

.ratings {
    margin: 0.5em 0;
}

.priceInfo {
    display: flex;
    gap: 1em;
    padding: 0 1em;
    padding-bottom: 0.5em;
    justify-content: center;
}

.foodName {
    color: var(--gray-1);
    font-size: 22px;
    min-height: 4rem;
    padding: 0 1em;
    padding-top: 0.5em;
}

.foodNameContainer {
    display: flex;
    justify-content: center;
}


.cardControl .shopBtn {
    background-color: #fff;
    color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    box-shadow: 0 0 2px #ccc;
}



.cardControl .viewDetail {
    background-color: #fff;
    color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    box-shadow: 0 0 2px #ccc;
}



.active {
    background-color: var(--primary-color);
    color: #fff;

}

.cardControl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    gap: 1em;
    transition: 200ms ease-in;

}

.cardContainer:hover {
    opacity: 0.8;
    position: relative;
}

.cardContainer:hover .cardControl {
    display: flex;
    position: absolute;
    top: 50%;
    z-index: 10;
}



.cardControl .favorBtn {
    background-color: #fff;
    color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    box-shadow: 0 0 2px #ccc;
}



@media screen and (max-width: 600px) {
    .cardContainer {
        flex-direction: row;
    }

    .cardContainer .imgContainer {
        width: 50%;
        height: fit-content;
    }

    .priceInfo {
        display: flex;
        flex-direction: row;
    }
}