.menuContainer {
  margin-left: 5%;
  margin-right: 5%;
}

.label_sort {
  margin-right: 1em;
}


.foodMenuContainer {
  display: flex;
  gap: 2em;
}

.foodMenuContainer .menuFood {
  width: 70%;
}

.foodMenuContainer .filterFood {
  width: 30%;
}

.searchInput button {

  background-color: var(--primary-color);
}

.searchInput button:hover {
  background-color: #fff !important;
  color: var(--primary-color) !important;
  border: 1px solid #ccc;
}

.cateFoodCheckbox {}

.rangePriceInput {
  background-color: var(--primary-color);

  width: 100%;
}

.rangePriceInput {
  accent-color: var(--primary-color);
  cursor: pointer;
}

.tagLists {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}


.tagLists .tag {
  border-bottom: 1px solid #ccc;
  width: fit-content;
}

.tagLists .tag:hover {
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer !important;

}

.tagLists label {
  cursor: pointer;
}

.activeLabel {
  color: red !important;
}

.latestProductList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 972px) {
  .foodMenuContainer {

    flex-direction: column;
  }

  .foodMenuContainer .menuFood {
    width: 100%;
    order: 2;

  }

  .foodMenuContainer .filterFood {
    width: 100%;
    order: 1;
  }

  .foodMenuContainer .filterFood .listTypeFood {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}